<p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </p>
  <p>&nbsp;</p>
  <div id="admincustomdashboard">
  <h1>Welcome to your Hubb Virtual Experience</h1>
  <p class="headertext" style="width: 70%;">This is your main area where we'll help you to achieve the most out of our time together and provide resources to help your along in your journey.</p>
<br>
<br>







<div class="tablecontainer">
  <h2 class="tablelabel">Virtual Event Project Plan</h2>
<div style="overflow-x:auto">
  <table class="projectplan">
  <colgroup span="9" class="bordered" style="background-color: #e7ebf0;">
  </colgroup>

    <thead>
      <tr>
        <th>8 WEEKS</th>
        <th>7 WEEKS</th>
        <th>6 WEEKS</th>
        <th>5 WEEKS</th>
        <th>4 WEEKS</th>
        <th>3 WEEKS</th>
        <th>2 WEEKS</th>
        <th>1 WEEK</th>
        <th>LIVE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="tile"><p>Kickoff with your Account Manager</p></div>
          <div class="tile"><a href="https://vimeo.com/448411479/1bdad4282a" style="text-decoration: none"><p style="color:#1e94ce;">Take Navigation 101 Training ></p></a></div>
          <div class="tile"><p>Integration Call</p></div>
          <div class="tile"><p>Branding Assets Due</p></div>
        </td>
        <td>
          <div class="tile"><p style="color:#1e94ce;">Training on Navigation <a href="https://vimeo.com/440706230/39b84b220d" style="color:#1e94ce;">Speaker</a> & <a href="https://vimeo.com/438959885/3e15fe2076" style ="color:#1e94ce">Session</a> Management ></p></div>
          <div class="tile"><a href="https://vimeo.com/442751891/25ecd89059" style="text-decoration: none"><p style="color:#1e94ce;">Training on Expo Hall ></p></a></div>
          <div class="tile"><p>Setup speaker dashboard & manage content/speakers</p></div>
          <div class="tile"><p>Setup exhibitor dashboard & manage content/speakers</p></div>
        </td>
        <td>
          <div class="tile"><a href="https://vimeo.com/448572276/17cd35ab6a" style="text-decoration: none"><p style="color:#1e94ce;">Training on Meetings ></p></a></div>
          <div class="tile"><p>Setup meeting types and custom roles for attendees</p></div>
        </td>
        <td>
          <div class="tile"><a href="https://vimeo.com/438961055/7169b283f1" style ="text-decoration: none"><p style="color:#1e94ce;">Training on Virtual Event Platform ></p></a></div>
          <div class="tile"><p>Review virtual event & make any changes to fields and permissions as needed</p></div>
        </td>
        <td>
          <div class="tile"><p>Mid-Way Check In Meeting</p></div>
          <div class="tile"><p style="color:#1e94ce;">Links for Lobby, Icon Selection OR Custom Lobby Artwork Due</p></div>
          <div class="tile"><p style="color:#1e94ce;">Branding for Photobooth Due ></p></div>
          <div class="tile"><p style="color:#1e94ce;">Brand your Backdrop Due ></p></div>
          <div class="tile"><p style="color:#1e94ce;">Hashtags for Social Connect Due ></p></div>
          <div class="tile"><p style="color:#1e94ce;">Live Session/ Rehearsals & Live Support Dates/Times Due ></p></div>
        </td>
        <td>
          <div class="tile"><p>Virtual Event Sent for Approval</p></div>
          <div class="tile"><p>Test as an attendee to ensure you've correctly setup your filters, content fields and custom roles</p></div>
          <div class="tile"><p>Virtual Event Approved</p></div>
          <div class="tile"><p>Welcome Video Due</p></div>
        </td>
        <td>
          <div class="tile"><p>Speaker & Sponsor Know Before You Virtual</p></div>
        </td>
        <td>
          <div class="tile"><p>Launch Platform to Attendees (3 business days max before the event)</p></div>
          <div class="tile"><p>Attendee Know Before You Virtual</p></div>
          <div class="tile"><p>Launch Platform to Speakers & Sponsors</p></div>
          <div class="tile"><p>All live sessions provisioned & rehearsals held</p></div>
        </td>
        <td>
          <div class="tile"><p>ROCK THE HOUSE!</p></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <br>
  <br>
</div>
