:root {
  --mobile-background-color: #1A598C;
  --mobile-text-color: #FFF; 
}

.dashboard-mobile {
  display: none;
}

.hubb_card {
  min-height: 200px;
  margin: 20px;
  padding: 0 20px 0 20px;
  background-color: var(--mobile-background-color);
  color: var(--mobile-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .dashboard-mobile {
    display: block;
  }
}
