/* You can add global styles to this file, and also import other style files */

:root {
  --background-color: #212429;
  --primary-color: #1BBFDD;
  --secondary-color: #DDE123;
  --carousel-background-color: rgba(0, 0, 0, 0.4);
}


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: var(--background-color); 
}    