<div id="carousel-main-container">
  <p class="carousel-title"> {{ event?.exhibition?.carousel?.heading | uppercase }}</p>
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <div class="image-div">
          <img src="{{ mediaUrl }}/{{ scope }}-public/resources/{{ slide.image }}" alt="slider image">
        </div>
        <div>
          <div class="title-heading">
            <p class="title">{{slide.title | uppercase}}</p>
            <p class="heading">{{slide.heading | uppercase}}</p>
          </div>
          <a href="{{ slide.buttonLink }}" target="_top">{{event?.exhibition?.carousel?.buttonText | uppercase }}</a>
        </div>
      </div> 
      
    </div>
    <div class="swiper-button-next slider-button"></div>
  </swiper>
</div>