.headerContainer {
    background-color:  transparent;
    padding: 0 40px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
}

.eventName{
    color: var(--primary-color);
    font-weight: 700px;
    font-size: 93px;
    line-height: 75px;
}

.eventYear{
    color: var(--secondary-color);
    font-weight: lighter;
    font-size: 93px;
    line-height: 75px;
}

.summary {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

h1, h2 {
    margin:0;
}

h2 {
    font-size: 45px;
    font-weight: lighter;
    line-height: 45px;
}

@media screen and (max-width: 750px) {
    .eventName {
        font-size: 70px;
        line-height: 55px;
    }

    .eventYear {
        font-size: 70px;
        line-height: 55px;
    }

    h2 {
        font-size: 32px;
        /* line-height: 32px; */
    }

    .headerContainer {
        padding: 0 20px;
    }
}



